body {
    background-color: #f0f8ff; /* Light gray */
}

h1{
    font-family:Nabla,Arial, Helvetica, sans-serif ;
    
}
#lineChart{
    max-width: 550px;
    margin: 0 auto;
}

canvas {
    max-width: 50%;
    max-height: 100%;
}

#refreshButton {
background-color: #e5ff00;
transition: background-color 0.3s;
}

#refreshButton:hover {
    background-color: #cfda57;
}